:root {
  --border: 2px solid red;
  --border2: 2px solid blue;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #0b2434;
  display: grid;
  max-height: 100vh;
  padding: 30px;
}
.main_cont {
  height: 92vh;
  border-radius: 10px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  grid-row-gap: 0px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.btn_cont {
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 0 20px;
  margin: 5vw;
  background-color: rgba(212, 164, 101, 0.842);
  padding: 20px;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
}
.main_cont .btn_cont button {
  background-color: white;
  border-radius: 6px;
  height: 50px;
  width: 50px;
  border-radius: 6px;
  display: grid;
  place-content: center;
  font-weight: 600;
  font-size: 25px;
  border: none;
  box-shadow: 2px 2px 1px 1px rgba(44, 41, 41, 0.377);
}
.main_cont .roll {
  width: 20%;
  padding: 10px;
  border: none;
  background-color: rgb(55, 97, 151);
  border-radius: 10px;

  font-size: 16px;
  color: white;
}
.main_cont .btn_cont .held {
  background-color: rgb(55, 97, 151);
}
.win {
  color: rgba(14, 38, 41, 0.712);
  width: 87vw;
  justify-self: center;
  text-align: center;
  height: 18vh;
  display: grid;
  place-content: center;
  color: rgb(55, 97, 151);
  background-color: rgb(168, 107, 36);
  box-shadow: 2px 2px 1px 3px rgba(100, 94, 83, 0.76);
  animation: blinking 2.5s alternate-reverse ease-in infinite;
}
.win_cont {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(44, 104, 122, 0.425);
  display: grid;
  place-content: center;
  row-gap: 10px;
}
.win_cont button {
  width: 50%;
  justify-self: center;
  padding: 10px;
  border: none;
  background-color: rgb(168, 107, 36);
  border-radius: 6px;
  box-shadow: 0px 2px 1px 1px rgba(100, 94, 83, 0.76);
}
.main_cont h1 {
  max-width: 70%;
}
.title {
  color: rgb(55, 97, 151);
}
@keyframes blinking {
  0% {
    opacity: 1px;
  }
  100% {
    opacity: 0;
  }
}
